<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Log file target -->
		<target xsi:type="File" name="logfile" fileName="logs/logfile.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=10}" />
	</targets>

	<rules>
		<!-- Log all messages from Info level and above to the logfile -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>